@model XHotels.Models.ViewModels.BookingViewModel

<div class="row">
    <div class="col-md-12">
        <h2>Confirmation!</h2>
        <hr />
        @* @if (!ModelState.IsValid) *@
        @* { *@
        @*     <div class="alert alert-danger" role="alert"> *@
        @*         <p>Please correct the following errors:</p> *@
        @*         <ul> *@
        @*             @foreach (var error in ModelState.Values.SelectMany(v => v.Errors)) *@
        @*             { *@
        @*                 <li>@error.ErrorMessage</li> *@
        @*             } *@
        @*         </ul> *@
        @*     </div> *@
        @* } *@
        <p>Thank you, @Model.Name,</p>
        <p>We have received your reservation request from @Model.ReservationDate.ToString("d MMMM yyyy") for @Model.NumberOfNights nights.</p>
        <p>We will contact you at @Model.Email or @Model.Phone to confirm your booking.</p>
    </div>
</div>